{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-text">Доброго времени суток!</h5>
        <p class="card-text">
          Меня зовут Александр и я являюсь автор данного сайта.<br>
          Расскажу немного о себе и как я пришел к тому, к чему пришел.<br>
          Не так давно я начал заниматься программированием. 
          Еще с школьных времен программирование 
          вызывало у меня большой интерес. Пару раз я начинал 
          самостоятельно что-то изучать, и все эти попытки оканчивались тем, 
          что на каком-то моменте я останавливался и не шел дальше.
          Трудно сказать почему это происходило, но я переключался 
          на какие-то другие вещи. Но примерно год назад, мой близкий друг 
          <a href="https://www.instagram.com/heyiamigor/" 
             alt="Igor Shevchenko Instagram"><i>Игорь</i></a>
          приобрел курсы full-stack разработчика<br> 
          на платформе 
          <a href="https://www.udemy.com/" alt="Udemy"><i>Udemy</i></a>. 
          Среди них был и курс по 
          <a href="https://www.udemy.com/course/the-modern-python3-bootcamp/" 
            alt="Python Course Udemy">
              Python.
          </a><br>
          <i>"А не хочешь ли попробовать себя в Python?"
          </i> - спросил он меня.<br>
          И тут, как говорится, все завертелось. 
          Каждый день после работы, чай, ноутбук и self studing.
          Тряска рук от удовольствия и того, что все работает.
          После пройденных курсов, я понял, что этого не достаточно, 
          чтобы начать работать и серьезно развиваться в этом направлении.
          Начал искать курсы по backend разработке, 
          почему-то меня это привлекло, сам пока не понимаю почему.
          В итоге наткнулся на курсы от 
          <a href="https://practicum.yandex.ru/" 
             alt="Yandex Practicum main page"><i>Yandex Practicum</i></a>.
          Они мне показались отличным вариантом.<br>
          Плюс есть возможность совмещать с работой, что являлось
          для меня немаловажным параметром.<br>
          И вот, спустя 3 месяца сделал свой первый небольшой сайт.
          Считаю это хорошим результатом, но не конечным.<br>
          Как говорил Buzz Lightyear:<br> 
          <q><i>To infinity... and beyond!</i></q><br>
          Кажется, это пока все, чем бы я хотел с вами поделиться. 
          Желаю вам хорошего времяпрепровождения на сайте.
        </p>
        <p class="card-text">
          В разделе 
          <a href="{% url 'about:tech' %}" alt="tech page">Технологии</a> 
          вы можете ознакомиться с инструментами, которые я 
          использовал для создания данного сайта.<br>
          А нажав на иконки GitHub и Instagram, вы можете перейти на мои соцсети
          и подписаться на них :)<br>
          Хорошего вам дня!
        </p>
        <a href="https://github.com/Simatheone"
           class="card-link text-decoration-none">
          <img src="{% static 'img/github32px.png' %}" alt="GitHub">
        </a>
        <a href="https://www.instagram.com/simatheone/" 
           class="card-link text-decoration-none">
          <img src="{% static 'img/instagram.png' %}" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
