{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-text">Доброго времени суток!</h5>
        <p class="card-text">
          Меня зовут Александр! Я являюсь студентом курсов <a href="https://practicum.yandex.ru/"
          alt="Yandex Practicum main page"><i>Yandex Practicum</i></a>. <br>
          Уже около года я изучаю Python и прибываю в диком восторге от него и его возможностей!
          <br>
          Это мой первый большое проект на Django, разработанный в рамках обучения на курсе.
        </p>
        <p class="card-text">
          В разделе
          <a href="{% url 'about:tech' %}" alt="tech page">Технологии</a>
          вы можете ознакомиться с инструментами, которые я использовал для создания данного сайта. <br>
          Нажав на иконки GitHub и Instagram, вы можете перейти на мои соцсети и подписаться на них :) <br>
          Хорошего вам дня!
        </p>
        <a href="https://github.com/Simatheone"
           class="card-link text-decoration-none">
          <img src="{% static 'img/github32px.png' %}" alt="GitHub">
        </a>
        <a href="https://www.instagram.com/simatheone/"
           class="card-link text-decoration-none">
          <img src="{% static 'img/instagram.png' %}" alt="Instagram">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
